# ragflow配置
# RAGFLOW_API_URL=http://121.4.54.247
# RAGFLOW_API_KEY=ragflow-g3YmVhYzEyNGNlNDExZjBhMWEwNzZjYT

# LLM配置
# DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# DASHSCOPE_API_KEY=sk-64c4d4ff41d1481ba0d39f4aa9466757

# tavily-api-key
# TAVILY_API_KEY=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

#----上面这些配置也可以添加到环境变量中-------#

# 数据库相关配置
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=pharma_db
MYSQL_HOST=localhost
MYSQL_PORT=3306